<% flashSuccess.forEach(function(message){ %>
  <div class="alert alert-success"><%= message %></div>
<% }); %>

<% flashError.forEach(function(message){ %>
  <div class="alert alert-danger"><%= message %></div>
<% }); %>