<div class="gtco-container">
  <div class="row">
    <div class="col-sm-4 col-xs-12">
      <div id="gtco-logo">
        <a href="/">Bom Apetite
          <em>!</em>
        </a>
      </div>
    </div>
    <div class="col-xs-8 text-right menu-1">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/contato">Contato</a>
        </li>
        <li>
          <a href="/login">Administração</a>
        </li>
      </ul>
    </div>
  </div>
</div>